{% extends "layouts/default.html" %}

{% block main %}
<div id="header">
   <h1>Free <span class="color">bool as a service</span></h1>
   <p class="center">Vecbit is a simple service for adding state to any project. Set&nbsp;or&nbsp;unset a vector of 63 bits via API.</p>
   {% if is_valid_user %}
   <a href="/user"><button id="start-button" type="button">Start</button></a>
   {% else %}
   <a href="/signup"><button id="start-button" type="button">Start</button></a>
   {% endif %}
</div>

<div class="tabPanel-widget">
   <label for="tab-1" tabindex="0"></label>
   <input id="tab-1" type="radio" name="tabs" checked="true" aria-hidden="true" />
   <h2 class="left">Curl</h2>
   <div>
      curl -X POST http://localhost:8080/user -d '{"email": "josh"}' -H "Content-Type: application/json"
   </div>

   <label for="tab-2" tabindex="0"></label>
   <input id="tab-2" type="radio" name="tabs" aria-hidden="true" />
   <h2 class="left">Python</h2>
   <div>
      curl -X GET http://localhost:8080/user
   </div>
</div>
{% endblock main %}
